$font-family: "Open Sans";
$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-heavy: 800;

// $hero-height: 800px !default;
$hero-min-height: 800px;
$hero-height: 100%;
$hero-bg-color: #eb3452;
$hero-bg-image: "http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-5588.jpg";

$content-bg-color: #2f3036;